dist
.wrangler
.output
.vercel
.netlify
.vinxi
.nitro/
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# Repomix generated output
repomix-output.md

# System Files
.DS_Store
Thumbs.db

/generated/
